# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List common libraries for Data Science
*   List common tools for Data Science
*   Perform arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-Learn
4. TensorFlow
5. Pytorch
6. Matplotlib
7. Keras

|Data Science Tools|
|------------------|
|SAS|
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Rena Tang